<div class="container">
  <center><h1>Create new post.</h1></center>


 <form action="/posts/create_new/succes" method="post" >
    <h2>Create your new post in here.</h2>
    <br>
    <h3>Please fill all the texts in the fields.</h3>
    <br>

    <label>
        <span>Title :</span><br>
        <input rows="1" cols="20" id="title" type="text" name="title" placeholder="Article title" />
    </label>
    <br><br>
    <label>
        <span>Article :</span><br>
        <textarea rows="20" cols="60" id="body" name="body" placeholder="Your article."></textarea>
    </label>
    <br><br>
     <label>
        <span>Tag :</span><br>
        <input id="tag" type="text" name="tag" placeholder="Tags, separated with comma." />
    </label>
    <br>
    <br>
     <label>
        <span>&nbsp;</span>
        <input type="submit" class="button" value="Submit" />
    </label>
</form>
</div>
