<div class="container">
  <% @all_post.each do |e| %>
    <h1><%= e.title %></h1><br>
    <%= e.body %><br><br>
    <p>tag</p>
    <% e.tags.each do |e| %>
    <a href='/tag/<%=e.id%>'><%= e.name %></a>
    <%end%>
    <hr>

  <%end%>
</div>
