<div class="container">
  <center><h1>Welcome to My sweeeeet blog.</h1></center>
  <p>Hello</p>

  <a href='/post/all'><button type="button">View all post</button></a>
  <a href='/post/create_new'><button type="button">Create new post</button></a>
</div>
